---
layout: default
title: BeWe
---

<link rel="stylesheet" href="/css/main.css" type="text/css" />

<div id="header">
  <div class="header-inner">
    <div class="header-container">
       <div class="header-menu-container">
         <div class="header-logo">
             <img src="{{ root_url }}/assets/img/bewe_logo.jpg" alt="logo">
         </div>
         <ul class="menu">

        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
            {% assign active = true %}
          {% endif %}
          <!--<li{% if active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>-->
          <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}

         </ul>
      </div>
    </div>
  </div>
</div>

